input[type="text"]{
    /*display: flex;*/
    border-radius: 5px;
}
.accordion{
    width: 300px;
}
.button2 {
    width: 150px;
    height: 27px;
    border-radius: 25px;
    background-color: #FFFFFF;
}
.button2:active {
    -webkit-transform: translateY(1px);
    transform: translateY(3px);
}
.comment{
    font-size: x-small;
    float: left;
    margin-left: 50px;
}
.list {
    width: 320px;
    table-layout: fixed;
}
.list td{
    font-size: small;
    word-wrap: break-word;
}
.name{
    border: 1px solid #5cb85c;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    font-size: 13px;
    padding: 10px;
    height: 30px;
    width: 200px;
}
