input[type="text"]{
    /*display: flex;*/
    border-radius: 5px;
}
.accordion{
    width: 300px;
}
.button2 {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    width: 100px;
    height: auto;
    color: #ffffff;
    background: green;
    border-bottom: solid 3px #005416;
}
.button2:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
.remove{
    display: inline-block;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    color: pink;
    font-weight: bold;
    overflow: hidden;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    line-height: 10px;
    border: solid 2px pink;
    background: none;
}
.comment{
    font-size: x-small;
    float: left;
    margin-left: 50px;
}
