.device_edit{
  text-align: center;
}
.new_device_name{
  border: solid 1px #000;
}
.button{
  border: 1px solid black;
  border-radius:10%;
}
.line{
  border-bottom: 1px black;
}
.cent{
  display: inline-block
}
.tab_wrap{
  width:280px;
  margin: auto;

}
input[type="radio"]{
  display:none;
}
.tab_area{
  font-size:0;
  margin:0 0;
  max-width:280px;
}
.tab_area label{
  width:33.3%;
  margin:0 0;
  display:inline-block;
  padding:12px 0;
  text-align:center;
  font-size:12px;
  border:4px solid #5cb85c;
  border-bottom:none;
  transform:translateY(8px);
  position:relative;

}

.panel_area{
  max-width:280px;
  background:#fff;
  border:4px solid #5cb85c;
  border-radius:0 0 20px 20px;
  position:relative;
}

.tab_panel{
  width:100%;
  padding:50px 0;
  display:none;
}
.tab_panel p{
  font-size:14px;
  letter-spacing:1px;
  text-align:center;
}
#tab1:checked ~ .tab_area .tab1_label{
  color:#fff;
  background:#5cb85c;
}
#tab1:checked ~ .panel_area #panel1{
  display:block;
}
#tab2:checked ~ .tab_area .tab2_label{
  color:#fff;
  background:#5cb85c;
}
#tab2:checked ~ .panel_area #panel2{
  display:block;
}
#tab3:checked ~ .tab_area .tab3_label{
  color:#fff;
  background:#5cb85c;
}
#tab3:checked ~ .panel_area #panel3{
  display:block;
}
.save{
    background-color: #5cb85c;
    background-position: 10px;
    border: 2px solid #5cb85c;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    height: 35px;
    width: 100px;
}
.btn5 {
    border: 1px solid #5cb85c;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    font-size: 13px;
    padding: 10px;
    height: 40px;
    width: 250px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label.check {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 28px;
  color: #969696;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  background-color: #ffffff;
}

input[type="checkbox"]:checked + label.check {
  border: 1px solid #5cb85c;
  background-color: #5cb85c;
}

input[type="checkbox"] + label.check::before {
  content: "OFF";
  position: absolute;
  top: 4px;
  left: auto;
  right: 6px;
}
input[type="checkbox"]:checked + label.check::before {
  content: "ON";
  position: absolute;
  left: 6px;
  right: auto;
  color: #ffffff;
}

input[type="checkbox"] + label.check > div {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 22px;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  background-color: #ffffff;
  transition: 0.2s;
}
input[type="checkbox"]:checked + label.check > div {
  border: 1px solid transparent;
  left: 44px;
}
.delee{
  text-align:center;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
}
.tab1_label{
  border-radius:10px 0 0 0;
}
.tab3_label{
  border-radius:0 10px 0 0;
}
