.button_edit{
  text-align: center;
}
.lab{
  font-size: large;
}
.new_button_name{
  border: 1px solid rgb(144, 207, 158);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  font-size: 13px;
  padding: 10px;
  height: 30px;
  width: 200px;
}
.button{
  background-color: rgb(144, 207, 158);
  background-position: 10px;
  border: 2px solid rgb(144, 207, 158);
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  height: 35px;
}
.line{
  border-bottom: 1px black;
}
.color{
    height: 30px;
    border: 1px solid rgb(144, 207, 158);
    position: relative;
    top: 5px;
}
