input[type="text"]{
    /*display: flex;*/
    border-radius: 5px;
}
.accordion{
    width: 300px;
}
.button2 {
    width: 70px;
    height: 27px;
    border-radius: 25px;
    box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
}
.button2:active {
    -webkit-transform: translateY(1px);
    transform: translateY(3px);
}
.comment{
    font-size: x-small;
    float: left;
    margin-left: 50px;
}
.list td{
    font-size: small;
    width: 90px;
}
.name{
    border: 1px solid #5cb85c;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
    font-size: 13px;
    padding: 10px;
    height: 30px;
    width: 200px;
}
