body{
    background-color: WHITE;
}
.main-nav{
    display: flex;
    list-style: none; 
    font-size: 11px;
    width: 100%;
    margin: 10px auto;
    border-bottom: solid 1px rgb(117, 116, 116);
    
}
.main-nav li:first-child{
    margin-right: auto;
}
.main-nav li a{
    text-decoration: none;
    color:black;
}
.logo{
    position: relative;
    left: -40px;
}
li {
    margin: 1px;
    padding: 10px;
    border-radius: 5px;
}
.Registration{
    border: solid 1px #e9e9e9;
    border-radius: 10px;
    margin: auto;
    max-width: 300px;
    font-size: 14px;
    box-shadow: 2px 2px 4px gray;
}
.terms{
    height:200px;
    width: 200px;
    margin: auto;
    background: rgb(255, 255, 255);
    overflow-y: auto;
    border: solid 1px #000;
    word-wrap: break-word;    
}
.btn1{
    border-style : solid;
    display: inline-block;
    background: #39cbaa;
    color: #555;
    margin:0 auto;
    font-weight:bold;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: solid 2px #627295;
    border-radius: 5px;
      
}
.textlines {
    border: none;
    border-bottom: 2px solid #e9e9e9;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 50px;
    transition: border-color 0.3s;
    width: 100%;
}
.textlines:focus{
    border-bottom: 2px solid #c0c0c0;
    outline: none;
}
.paddings{
    padding: 15px;
}
.Regist-padding{
    padding: 5%;
    border-radius: 8px 8px 0 0;
    background-color: #e9e9e9;
    color: #666;
}
.form-check-label{
    color: #666;
}
[type=text]{
    line-height: normal;
}
[type=password]{
    line-height: normal;
}