table{
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    font-size: small;
    width: 320px;
    text-align: center;
}
table th,table td{
    width: 25%;
}
table th{
    background-color: #5cb85c;
}
table tr:nth-child(odd){
    background-color: #eee
}
