
.inn{
    display: flex;
    list-style: none; 
    font-size: 11px;
    width: 260px;
    margin: auto; 
}
.mailaddress{
    display: flex;
    list-style: none; 
    border-radius: 5px;
    margin: auto; 
}
.form{
    display: flex;
    list-style: none; 
    border-radius: 5px;
    margin: auto; 
    
    height: 350px;

}
.form-group{
   text-align: center;
}
.btn-center{
   text-align: center;
}
table,td,th{
   padding: 2px;
   margin-left:5vw;
   margin-right:0vw;
   width:90vw;
}
.sbtn-cen{
   text-align:center;
   
}
.cen{
   display:inline-block;
}

