
.btn0 {
    color: #000;
    border: 1px solid #777;
    margin-bottom: .3em;
    text-align: left;
    display: table;
    width:60%;
    margin-left: 15%;
    padding:5px 5px 5px 10px;
}
.btn0:hover {
    cursor: pointer;
}
.btn0:active {
    background: rgb(127, 194, 239);
}
.box0 {
    text-align: center;
    margin: auto;
    position: relative;
    left: -19px;
}
.add-btn{
    background-color: rgb(144, 207, 158);
    background-position: 10px;
    border: 2px solid rgb(144, 207, 158);
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: smaller;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    height: 30px;
    margin-top: 10px;
}


/* checkbox non-display */
/*.add-control .chk{*/
/*    display: none;*/
/*}*/

/* button control */
/*.add-control #open-close ~ .btn0-open-close::before {*/
/*    content: "▽ " ;*/
/*    border-right:solid 1px #777;*/
/*    padding:5px;*/
/*}*/
/*.add-control #open-close ~ .box0 {*/
/*    display: none ;*/
/*}*/
/*.add-control #open-close:checked ~ .btn0-open-close::before {*/
/*    content: "△ " ;*/
/*}*/
.add-control #open-close:checked ~ .box0 {
    display: block ;
    padding:5px;
}

.hidden_box{
    display: none;
}

.chk-hidden::before{
    content: "▽ " ;
    border-right:solid 1px #777;


}
.chk-shown::before{
    content: "△ " ;
    border-right:solid 1px #777;

}
.accordion{
    width: 250px;
    margin: auto;
    position: relative;
    left: -19px;
}
.accordion2{
    width: 212px;
    margin: auto;
}


/********************************************
* Now Loading
********************************************/
#overlay{
    -webkit-appearance: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height:100%;
    display: none;
    background: rgba(0,0,0,0.6);
    cursor: pointer;
}
.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 80px;
    height: 80px;
    border: 4px #ddd solid;
    border-top: 4px #999 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}
.is-hide{
    display:none;
}

.btn1 {
    /*float:left;*/
    /*width:75%;*/
    /*height:40px;*/
    /*background:#fff;*/
    /*border-style: solid;*/
    /*padding:5px;*/
    width: 60%;
    height: 27px;
    border-radius: 8px;
    box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
    opacity: 0.5;
}
.btn1:active{
    -webkit-transform: translateY(1px);
    transform: translateY(3px);
}
.btn3 {
    width: 20px;
    height:auto;
}
.trash_btn{
    background: #ffffff;
    border:none #ffffff;
}
.btn_wrap{
    text-align: center;
    position: relative;
    left: -130px;
}
.btn6 {
  background: #ffffff;
  border:none #ffffff;
  float:left;
  padding: 5px;
    margin: auto;
  margin-left: 3%;
  margin-right: 3%;

}
.btn7{
    background: #ffffff;
    border:none #ffffff;
    float:left;
    padding: 5px;
    margin-right: 3%;
}
.btn-animation-02 {
    -webkit-appearance: none;
    display: inline-block;
    width: 200px;
    text-align: center;
    background-color: #9ec34b;
    border: 2px solid #9ec34b;
    font-size: 16px;
    color: #9ec34b;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 4px;
    position: relative;
}

.btn-animation-02 span {
    position: relative;
    z-index: 1;
}

.btn-animation-02::before,
.btn-animation-02::after {
    content: "";
    display: block;
    background-color: #FFF;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: .2s;
}
.btn-animation-02::before {
    left: 0;
}
.btn-animation-02::after {
    right: 0;
}

.btn-animation-02:hover:before,
.btn-animation-02:hover:after {
    width: 0;
    background-color: #FFF;
}

.btn-animation-02:hover {
    color: #FFF;
}
.tempra{
    float: right;
    margin-right: 7vw;
}
